* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
}

.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  padding: 0 12px;
}

img {
  vertical-align: bottom;
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.nav {
  padding: 48px 0;
}