@font-face {
  src: url(../fonts/Poppins/Poppins-Bold.ttf);
  font-family: "poppins";
  font-weight: 700;
}

@font-face {
  src: url(../fonts/Poppins/Poppins-ExtraBold.ttf);
  font-family: "poppins";
  font-weight: 800;
}

@font-face {
  src: url(../fonts/Poppins/Poppins-Light.ttf);
  font-family: "poppins";
  font-weight: 300;
}

@font-face {
  src: url(../fonts/Poppins/Poppins-Medium.ttf);
  font-family: "poppins";
  font-weight: 500;
}

@font-face {
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
  font-family: "poppins";
  font-weight: 400;
}